@font-face{
    font-family: "Simple Print";
    src: url("/static/fonts/Simple Print.ttf");
}

@font-face {
    font-family: 'made_evolve_sansbold';
    src: url('/static/fonts/MADE-Evolve-Sans/made_evolve_sans_bold_personal_use-webfont.woff2') format('woff2'),
         url('/static/fonts/MADE-Evolve-Sans/made_evolve_sans_bold_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
